<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
		<link href="https://fonts.googleapis.com/css?family=Archivo+Black|Tenor+Sans" rel="stylesheet">
    <title>API/SDK Sampler</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="background:url('/images/bkg2-compressed.jpg') no-repeat;background-size:cover; color:white;">
    <h1 style="margin-top:200px; font-family:'Archivo Black',serif;color:white;">API & SDK Sampler</h1>
      <center>
    <h2 style="margin: 40px 0 40px 0;font-size:1.6em;font-weight:bold;font-family:'Archivo Black',serif;">Welcome to Yelp, Twitter, YouTube API or SDK consumption using Express & Node.js</h2>
    <p style="margin-bottom:40px;font-family:'Tenor Sans', sans-serif;font-size:1.2em;">No Twitter Bootstrap themes were used in this project.</p>
    <button class="button" style="margin-right:30px; height:50px;width:100px; font-family:'Tenor Sans', sans-serif;font-size:1em" type="submit" onClick=window.location.href="/twitter/timeline?username=jdrichardstech">Twitter</button>
    <button style="margin-right:30px; height:50px;width:100px;font-family:'Tenor Sans', sans-serif;font-size:1em;" type="submit" onClick=window.location.href="/yelp?term=food&location=new+york">Yelp</button>
    <button style="height:50px;width:100px;font-family:'Tenor Sans', sans-serif;font-size:1em" type="submit" onClick=window.location.href="/youtube?item=react">Youtube</button>
  </center>
  </body>
</html>
