<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
		<link href="https://fonts.googleapis.com/css?family=Archivo+Black|Tenor+Sans" rel="stylesheet">
    <title>API/SDK Sampler</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="background:url('/images/bkg3.jpg') no-repeat;background-size:cover; color:white;">

      <center>
		<h1 style="margin: 200px 0 10px 0;font-size:3em;font-family:'Tenor Sans',serif;color:white;">The Seeker</h1>
		<h1 style="margin-bottom:80px;font-size:2.5em;font-style:italic;font-family:'Tenor Sans',serif;color:white;">Search  Twitter, Yelp, &amp; YouTube </h1>

    <button class="button" style="margin-right:30px; height:50px;width:100px; font-family:'Archivo', sans-serif;font-size:1em" type="submit" onClick=window.location.href="/twitter/timeline?username=reactjs">Twitter</button>
    <button style="margin-right:30px; height:50px;width:100px;font-family:'Archivo', sans-serif;font-size:1em;" type="submit" onClick=window.location.href="/yelp?term=food&location=new+york">Yelp</button>
    <button style="height:50px;width:100px;font-family:'Archivo', sans-serif;font-size:1em" type="submit" onClick=window.location.href="/youtube?item=react">Youtube</button>
  </center>
  </body>
</html>
