<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

    <title>SDK Sampler</title>

    <link rel='stylesheet' href='/stylesheets/style.css'>

    <link href='https://fonts.googleapis.com/css?family=Chewy:400' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header style="display:block; width:100%; height:60px; background: #d32323; margin: 0;">
      <h1 style="padding-top:5px;font-family: 'Chewy', cursive; font-size:2.5em; color:black; -webkit-text-stroke: 1px #fff;">Yelp Search
        <span style="float:right;"><a style="color:white;padding-right:10px;font-family:'arial', sans-serif;font-weight:100; font-size:15px;letter-spacing:2px;" href="/">Home</a></span>
      </h1>
      <div style="padding:20px 0 0 15px;">
        <p style="width:40%;float:left">Search for:  <span style="font-family:'arial',sans-serif; color:#d43723; text-transform:uppercase;">{{title}}</span>
        <form action="/yelp" method="post" class="yelp_search">
        Subject:  <input  type="text" name="term" placeholder="subject"  style="margin-bottom:15px;width:100px; height:20px; border:1px solid #ddd;border-radius:3px;margin-right:15px;" />
        Location:  <input type="text" name="location" placeholder="location"  style="margin-bottom:15px;width:100px; height:20px; border:1px solid #ddd;border-radius:3px;margin-right:15px;" />
        <input type="submit" value="Submit" class="btn btn-info" style="margin-bottom:15px;width:100px; height:25px; border:1px solid #ddd;border-radius:3px;background:darkred;color:white;" />
      </form></p>
      </div>
    </header>
    <br /><br /><br /><br />
    {{#data.businesses}}
    <div class="venue-box_yelp">
      <img class="icon" src={{image_url}} alt="" />
      <form action="/yelp_business" method="post">
          <a href="/yelp_business" target="_blank">
              <h2 class ="yelp">{{ name }}<br /> </h2>
          </a>
          <input type="hidden" name="place" value={{id}}/>
     </form>
      <p class="snippet">{{snippet_text}}</p>
      <p class="address">{{location.display_address}}</p>

      {{#categories}}
      <span style="font-size:.7em;">*{{.}}</span>
      {{/categories}}
      <br /><br />
      <a href={{url}} target="_blank"><span style="color:#3b3b3b;">Website:</span> {{name}}</a><br />
    </div>
    <br />
  	{{/data.businesses}}
  </body>
</html>
